#root{
  max-width: 320px;
  margin: 30px auto;
  background-color: #efefef;
  padding: 15px;
  box-shadow: 0px 0px 7px #aaa;
  border-radius: 5px;
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container{
  padding: 0 15px;
  width: 100%;
}

header{
  display: block;
  padding: 2px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cecece;
  overflow: hidden;
}

header em{
  font-size: 10px;
  display: block;
}
header h5{
  float: left;
  width: 50%;
  margin: 10px 0;
}
header input{
  float: right;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  padding: 7px;
  max-width: 100px;
  margin: 0;
  border: 0;
  box-shadow: 0 0px 6px #aaa;
  border-radius: 3px;
  outline: none;
  transition: all .3s ease
}

header input:focus{
  box-shadow: 0 0px 2px #aaa;
}

.list-container{
  overflow: hidden;
  width: 100%;
}

.list-container > div{
  border: 1px solid #cecece;
  padding: 12px;
  margin-top: 10px;
  border-radius: 3px;
  background: #d0d0d0;
  overflow: hidden;
}

.card{
  position: relative;
}

.card > div{
  float: left;
}


.card-data{
  width: calc(100% - 60px)
}

.card-action{
  width: 60px;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 45px;
}

.card-action button{
  width: 45px;
  float: right;
  font-size: 20px;
}

.card-data h5{
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.card-data strong{
  font-size: 12px;
  display: block;
}

.card-data em{
  font-size: 12px;
}

.no-suggestions {
  color: #999;
  font-size: 10px;
}

.suggestions {
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(100% - 3px);
  background: #ffffff;
  font-size: 12px;
  border: 1px solid #d0d0d0;
}

.suggestions li {
  padding: 0.5rem;
}
.suggestions li span{
  font-size: 16px;
  float: right;
  line-height: 14px;
  color: #aaa
}
.suggestion-active,
.suggestions li:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: all .1s ease;
}

.suggestions .suggestion-active span,
.suggestions li:hover span{
  color: white;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #e0e0e0;
}

.autocomplete-wrapper{
  position: relative;
  max-width: 100%;
}

.autocomplete-wrapper input{
  width: calc(100% - 13px);
  margin: 30px 0 0;
  height: 40px;
  padding: 1px 5px;
  font-size: 14px;
  text-transform: uppercase;
  border: 1px solid #9a0000;
  border-radius: 2px;
  outline: none;
}

footer button{
  font-size: 14px;
  width: 100%;
  margin: 30px 0;
}

button{
  height: 40px;
  border: 0;
  background: white;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  color: #8c0202;
  box-shadow: 0 0 7px #AAB;
  border-radius: 3px;
  outline: none;
  transition: all .3s ease;
}

button:hover,
button:focus{
  box-shadow: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
